/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif ;
    color:#4286f4;
}

h1 {
    font-size: 2.5rem;
    color: blueviolet;
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 700px;
}

header, footer, footer a {
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;
}

header img {
    width: auto;
    height: 200px;
    float: right;
}

footer {
    font-size: 0.5rem;
}

/* CREDITS GO TO Kashif Latif on reply on site https://stackoverflow.com/questions/15128716/html-5-marquee-tag-error-in-w3c-validation - Make it a marquee */
.marquee {
    width: 450px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}