/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 300;
    background-color:#ebebeb;
    
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header div{
    margin: 2%;
    width: 96%;
    }

header img {width: 100%;}


/*----------- NAVIGATION --------------*/


nav ul {
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    margin: 0;
    padding: 0px;
    float: left;
    width: 16.66%;
}

nav li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    font-size: 90%;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

nav .active {
    background-color: #4ebdc6;
}

main .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 96%;
    margin: 2%;
    grid-gap: 20px;
}

.grid div{
    padding: 0%;
}

.grid div div img{width: 100%; margin: 0px; border: 0px; padding: 0px; border-style: none; max-width: 318px;}

.title h2{
    align-self: center;
    background-color: #6c6c6c;
}

.title h2:hover {
    background-color: #4ebdc6;
}

.yeti, .kona, .trek{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /*-webkit-overflow-scrolling: touch; /* This is for IOS and will give "unsupported CSS" errors in other browsers so i decided not to include it as i have been marked down for this in the past*/

}

.yeti div, .kona div, .trek div{
    display: inline-block;
}


.yeti div div:hover{box-shadow: 0px 0px 0px #6c6c6c;}
.rocorn {border-radius: 0px 0px;}
.opac {opacity: 1;}

.title h1{font-size: 80%; font-style: italic; text-align: center; color: #d6d6d6;}

.title h2{font-size: 250%; font-weight: 600; text-align: center;  color: #d6d6d6;}

.invite{font-size: 150%; text-align: center; color: #313131;align-self: center; background-color: #e2e2e2}

footer {
    text-align: center;
    background-color: #555;
    color: #4ebdc6;
    padding: 0 2%;
    margin: 2%;
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}