@media only screen and (min-width: 37.5em) {
/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    
    
    nav ul {
        list-style-type: none;
        margin: 2%;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav li {
        float: left;
        width: 16.65%;
    }

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 125%;
    }

    
    main .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    }
    
    .daily, .season{align-self:auto; grid-column: span 2;}


}